body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
#xanastare {
    background: url(img/xanastare.png);
    background-repeat: repeat;
    width: 80vw;
    
}
#logo {
    
    background: url(img/s99logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 80vh;
}
img {
    margin-top: 40px;
    max-width: 80vw;
    max-height: 40vh;
    width: auto;
    height: auto;
}
#soon {
    font-size: 75px;
}
.tables {
    display: flex;
}

table {
    border: 1px solid #777;
    min-width: 300px;
    margin: 15px;
}
header {
    text-align: center;
}